:root {
    --darkgrey: #353535;
    --bluegreen: #f6ae2d;
    --white: #FFF;
    --grey: #E9E9E9;
    --blue: #6696b6;
    --orange: #F6AE2D;
}

@font-face {
    font-family: montserrat;
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    height:100svh;
    display:grid;
    grid-template-columns: [sidebar-start logo-start] minmax(13rem,1fr)
                            [sidebar-end search-start action-start greyspace-start logo-end] 5fr
                            [search-end action-end greyspace-end] ;
    grid-template-rows: [logo-start search-start] 3rem
                        [search-end action-start logo-end sidebar-start] 5rem
                        [action-end greyspace-start] 1fr [sidebar-end greyspace-end];
                        background-color: var(--blue);
}

.sidebar {
    grid-area: sidebar-start / sidebar-start / sidebar-end / sidebar-end;
    background-color: var(--blue);
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
}

.logo {
    align-self: center;
    background-color: var(--blue);
    color: white;
    margin: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    width: auto;
    padding: 1rem 0;
}

.logo-svg {
    width: 2rem;
    height:auto;
}

.pages,
.tools {
    display:flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-option {
    margin: 0.5rem;
    color: white;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
}

.sidebar-option:hover {
    color: var(--darkgrey);
    filter: brightness(20%);
}

.sidebar-option img {
    width: 2rem;
    height: auto;
    position: relative;
    bottom: -.5rem;
    margin-right: 10px;
}

.search {
    grid-area: search-start / search-start / search-end / search-end;
    background-color: var(--bluegreen);
    display:flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    color: white;
    padding: 1rem 2rem;
}

.search button,
.action button {
    height: 2rem;
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 2rem;
    border:0;
    color: var(--white);
}

button.notifications {
    width: 2.5rem;
    height: auto;
    background-color: transparent;
}

.search button:hover,
.action button:hover {
    filter:brightness(90%);
}

button.account {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.search input {
    height: 2rem;
    border-radius: 5px;
    background-color: transparent;
    border:0;
    flex: 1;
    min-width: 1rem;
    background-color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    flex: 0 0 0;
    object-fit:cover;
}

.avatar.small {
    width: 2rem;
    height: auto;
}


.action {
    grid-area: action-start / action-start / action-end / action-end;
    background-color: var(--bluegreen);
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    color: white;
}

.action button {
    flex: 0 0 auto;
}

.greeting {
    flex:4;
    position:relative;
}

.greeting::before {
    content:"Hi there,";
    font-size: .7em;
    position:absolute;
    top: -1em;
}

.greyspace {
    grid-area: greyspace-start / greyspace-start / greyspace-end / greyspace-end;
    display:flex;
    flex-wrap: wrap;
}

.workspace {
    background-color: var(--grey);
    flex: 2;
    min-width: 270px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    grid-template-rows: [title-start] 2rem [title-end];
    gap: 1rem;
    grid-auto-rows: 200px;
    padding: 1rem;
}

.workspace .title {
    align-self: end;
    grid-row: title-start / title-end;
    grid-column: 1 / -1;
}

.card {
    background-color: var(--white);
    border-radius: 5px;
    border-left: 5px solid var(--bluegreen);
    box-shadow: 5px 5px 5px -4px gray;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 200px;
}

.card h1 {
    font-size: 1rem;
    color: var(--darkgrey);
    margin:0.5rem .5rem 0;
}

.card p {
    font-size: .8rem;
    color: gray;
    margin-top: 0;
    text-align: justify;
    overflow: hidden;
    padding: .5rem;
}

.card .controls {
    display: flex;
    justify-content: end;
    margin:.5rem;
}

.card button {
    width: 2rem;
    height: auto;
    background-color: transparent;
    border: 0;
}

.card button:hover {
    filter:opacity(50%);
}

.rightbar {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-template-rows: 2rem 1fr 2rem 1fr;
    padding: 1rem;
    gap: 1rem;
    flex:1;
    min-width: 260px;
    padding-top:2rem;
}

.rightbar .title {
    height:1rem;
    text-align: bottom;

}

.announcements {
    background-color: var(--white);
    border-radius: 5px;
    border-left: 5px solid var(--bluegreen);
    box-shadow: 5px 5px 5px -4px gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height:min-content;
    justify-content: start;
}

.trending {
    background-color: var(--white);
    border-radius: 5px;
    border-left: 5px solid var(--bluegreen);
    box-shadow: 5px 5px 5px -4px gray;
    display: flex;
    flex-direction: column;
}

.user {
    display: grid;
    padding: .7rem;
    grid-template-columns: [avatar-start] 4rem [avatar-end usertag-start username-start] 1fr [usertag-end username-end];
    grid-template-rows: [avatar-start usertag-start] 1fr [usertag-end username-start] 1fr [username-end];
}

.user:hover {
    filter:brightness(90%);
}

.user .avatar {
    grid-area: avatar-start / avatar-start / avatar-end / avatar-end;
}

.user .usertag {
    grid-area: usertag-start / usertag-start / usertag-end / usertag-end;
    font-size: .8rem;
    color: gray;
    align-self: center;
}

.user .username {
    grid-area: username-start / username-start / username-end / username-end;
    color:#353535;
}

.title {
    color: var(--blue);
}

.announcement {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement > h1 {
    font-size: 1rem;
    color: var(--darkgrey);
    margin:0;
}

.announcement > p {
    font-size: .8rem;
    color: gray;
    margin-top: 0;
    text-align: justify;
}

.announcements > hr {
        border: 0;
        width: 50%;               
        background-color:grey;
        height: 1px;
  }